.our-work {
    height: 490px;
    background: $c5;
}

.block-wrapper {
    padding-top: 320px;
}

.block {
    background: grey;
    height: 400px;
    max-width: 400px;
}

.our-work-down {
    min-height: 480px;
    background: $c1;
}